.about__wrapper {
  width: 1024px;
  margin: 0 auto;
  padding-top: 100px;
}

.about__text {
  width: 800px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 24px;
  padding-top: 100px;
}

.about__text-bot {
  color: #ffffff;
  font-size: 18px;
  padding-left: 20px;
}

.about__item {
  color: #ffffff;
}
