.intro__text {
  padding: 0;
  margin: 0;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 50px;
}

.intro__present {
  width: 800px;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  padding-bottom: 40px;
}

