.works {
  background-color: whitesmoke;
  padding-top: 50px;
  padding-bottom: 50px;
}

.works__title {
  font-size: 48px;
  text-align: center;
}

.works__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  width: 80%;
  margin-top: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.works__item {
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  width: 400px;
  height: 300px;
  background-color: gray;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.75);

  &::before {
    content: "Сайт";
    position: absolute;
    border: 2px solid white;
    border-radius: 2%;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    z-index: 100;
  }
}

//.works__item:hover::after {
//  content: "";
//  position: absolute;
//  top: 0;
//  width: 400px;
//  height: 300px;
//  background-color: rgba(0,0,0,0.7);
//}

.works__item:nth-of-type(1) {

  &::before {
    content: "Сайт штата";
  }

  &:hover::before {
    background-color: #663300;
  }
}

.works__item:nth-of-type(2) {

  &::before {
    content: "Фото сервис";
  }

  &:hover::before {
    background-color: #CC0066;
  }
}

.works__item:nth-of-type(3) {

  &::before {
    content: "Личный сайт";
  }

  &:hover::before {
    background-color: #000000;
  }
}

.works__item:nth-of-type(4) {

  &::before {
    content: "Coming Soon..";
  }

  &:hover::before {
    background-color: #000000;
  }
}

.works__img {
  width: 100%;
}

.work__wrapper {
  padding-bottom: 100px;
}

.work__container {
  position: relative;
  width: 900px;
  height: 500px;
  margin: 0 auto;
  border-radius: 1%;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.work__container img {
  width: 100%;
}

.work__arrow {
  display: block;
  position: absolute;
  top: 50%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background: none;
  width: 64px;
  height: 64px;
  color: white;
  font-size: 32px;
  text-align: center;
  line-height: 64px;
  cursor: pointer;
  z-index: 3;
  border-radius: 60px 60px;

  &--back {
    left: 10px;
  }

  &--next {
    right: 10px;
  }
}

.work__arrow-svg {
  position: absolute;
  top: 5px;
  left: 4px;

  &--next {
    left: 10px;
  }
}

.work {
}

.work__btn {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  font-family: inherit;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 15px;
  width: 400px;
  height: 60px;
  text-align: center;
  color: dimgray;
  box-shadow: 3px 3px 0px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  box-shadow: inset 0px -9px 7px -4px rgba(0,0,0,0.62);
  background: #e9dfd5;
//  background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(80,214,161,1) 92%);
  
 &:hover {
		transform: rotateY(180deg);
	}
}



.works__tag-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  transform: translatex(-50%);
}

.works__tag-list li {
  display: inline-block;
    padding: 0 .5em;
    background-color: #313131;
    color: #999;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75em;
    box-shadow: 1px 1px 0 rgba(0,0,0,.25);
    margin: 2px;
    position: relative;
    text-shadow: -1px -1px 0 #3f3f3f, -1px 0 0 #3f3f3f, -1px 1px 0 #3f3f3f, 0 -1px 0 #3f3f3f, 0 0 0 #3f3f3f, 0 1px 0 #3f3f3f, 1px -1px 0 #3f3f3f, 1px 0 0 #3f3f3f, 1px 1px 0 #3f3f3f;
    z-index: -10;
}

.works__item:hover .works__tag-list {
  display: block;
  text-align: center;
}

.works__item:hover .works__tag-list li {
  z-index: 20;
}

.works__bar {
  display: block;
  position: relative;
  height: 24px;
  background-color: #ddd;
  width: 100%;
  color: #6a6a6a;
  z-index: 10;
}

.works__bar-i {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: #ff5f57;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 10px;
  
  &::before {
    content: "";
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #ffbd2e;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 16px;
  }
  
  &::after {
    content: "";
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #28ca41;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 32px;
  }
}

@media (max-width: 659px) {
  .work__wrapper {
    padding-top: 20px;
  }
  
  .work__container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 1%;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.75);
    overflow: hidden;
  }
  
  .work__btn {
    width: 300px;
  }
}

@media (min-width: 660px) and (max-width: 960px) {
  .work__container {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 659px) {
  .works__title {
    font-size: 24px;
  }
  
  .works__item {
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
    
    &::before {
      font-size: 14px;
    }
  }
  
  .works__item:hover .works__tag-list {
    display: none;
  }
}

@media (min-width: 660px) and (max-width: 960px) {
  .works__title {
    font-size: 24px;
  }
  
  .works__item {
    width: 280px;
    height: 200px;
    
    &::before {
      font-size: 14px;
    }
  }
  
  .works__item:hover .works__tag-list {
    display: none;
  }
}

