.page {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;

}

//.page__wrapper {
//  width: 1024px;
//  margin: 0 auto;
//}

a {
  text-decoration: none;
  color: white;

  &:hover {
    color: #339999;
  }
}


.s {
  background-image: url("../img/blured-bg.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.s2 {
//  background-color: #333333;
  background-color: #000000;
}
